
<main id="main"  >
    <div style="margin-bottom: 50px; " class="d-block d-lg-none"> </div>

    <div class="pagetitle">
        <h1>Feedback</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
      </div>
      <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-body mt-3 fw-bold">Students registration</div>
                <div class="card-footer  bg-white d-flex align-items-center justify-content-between">
                    <a class="small ms-2 stretched-link" routerLink="studentlist">271 people</a>
                 
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-body mt-3 fw-bold">Activated accounts</div>
                <div class="card-footer bg-white d-flex align-items-center justify-content-between">
                    <a class="small ms-2 stretched-link" routerLink="studentlist">145 people</a>
                    <div class="small me-2">83%</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-body mt-3 fw-bold">Total coach</div>
                <div class="card-footer bg-white d-flex align-items-center justify-content-between">
                    <a class="small ms-2 stretched-link" routerLink="coachlist">112 people</a>
                  
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-body mt-3 fw-bold">Validated coach</div>
                <div class="card-footer bg-white d-flex align-items-center justify-content-between">
                    <a class="small ms-2 stretched-link" routerLink="coachlist">74 people</a>
                    <div class="small me-2">71%</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
  
        <div class="col">
            <div class="card mt-2">
                <div class="fw-bold ms-4 mt-3"> Top Training Courses</div>

                <div id="divChart" class="mx-5">
                    <canvas id="myChart"></canvas>
                  </div>
            </div>
        </div>
    </div>
  

   
  </main>