
 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex align-items-center" data-aos="fade-up">
    <img src="assets/img/nosformation.png" class="img-fluid" alt="">
      </section><!-- End Hero -->
<section id="course-details" class="course-details">
    <div class="container cource-details-tabs" id="cource-details-tabs" data-aos="fade-up">

      <div class="row justify-content-between">
        <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
              <a
                class="nav-link active"
                id="ex1-tab-1"
                data-mdb-toggle="tab"
                href="#ex1-tabs-1"
                role="tab"
                aria-controls="ex1-tabs-1"
                aria-selected="true"
                >Overview</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="ex1-tab-2"
                data-mdb-toggle="tab"
                href="#ex1-tabs-2"
                role="tab"
                aria-controls="ex1-tabs-2"
                aria-selected="false"
                >FeedBack</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="ex1-tab-3"
                data-mdb-toggle="tab"
                href="#ex1-tabs-3"
                role="tab"
                aria-controls="ex1-tabs-3"
                aria-selected="false"
                >Program</a
              >
            </li>
          </ul>
        <div class="col-lg-7 col-11 m-3 mb-5 shadow1">

          <div  data-aos="fade-up">

              <div class="row mt-5 mb-5">
 <!-- Tabs navs -->

  <!-- Tabs navs -->
  
  <!-- Tabs content -->
  <div class="tab-content" id="ex1-content">
    <div
      class="tab-pane fade show active"
      id="ex1-tabs-1"
      role="tabpanel"
      aria-labelledby="ex1-tab-1"
    >
    Ce programme est une bourse remboursable. Il vise à aider les jeunes diplômés à la recherche active d’emploi à bénéficier d’une formation garantissant leur insertion professionnelle face à l’écart entre les exigences sur le marché de l’emploi et les qualifications disponibles: Le nombre de chômeurs de issus de l'enseignement supérieur est estimé à 26 milles personnes en 2020.
    <div class="row justify-content-between mt-5 ">
        <div class="col"><div class="card shadow" style="border: none;">7 chapiter</div></div>
        <div class="col"><div class="card shadow" style="border: none;">120 exercice</div></div>
        <div class="col"><div class="card shadow" style="border: none;">10 projects</div></div>
        <div class="col"><div class="card shadow" style="border: none;">8 workspace</div></div>
        
        
        
            </div>   
            
            <div class="row justify-content-between mt-5 ">
                <div class="col-6"><div ><i class="fa-solid fa-certificate fa-2xl" style="color: #af3065;"></i><br><br>
                   Certification of complitation</div></div>
                <div class="col-6"><div  ><i class="fa-solid fa-bookmark fa-2xl" style="color: #af3065;"></i><br><br>
                    32 module</div></div>
                </div>
                    <div class="row mt-5">
                <div class="col-6"><div  ><i class="fa-solid fa-calendar-check fa-2xl" style="color: #af3065;"></i><br><br>
                    Easy schuduling & attendance</div></div>
                <div class="col-6"><div  ><i class="fa-solid fa-tv fa-2xl" style="color: #af3065;"></i><br><br>
                    Posibility of online education</div></div>
                
                
                
                    </div> 

        </div>

    <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
     
  <div class="row d-flex justify-content-center">
    <div class="col-md-12">
      <div class="card " style="border: none;">
        <div class="card-body m-3">
          <div class="row">
            <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20%2810%29.webp"
                class="rounded-circle img-fluid shadow-1" alt="woman avatar" width="200" height="200" />
            </div>
            <div class="col-lg-8">
              <p class="text-muted fw-light mb-4">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
                molestiae numquam quas, voluptates omnis nulla ea odio quia similique
                corrupti magnam.
              </p>
              <p class="fw-bold lead mb-2"><strong>Anna Smith</strong></p>
              <p class="fw-bold text-muted mb-0">Product manager</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

            </li>
            <li class="list-group-item">

                <div class="row d-flex justify-content-center">
                    <div class="col-md-12">
                      <div class="card " style="border: none;">
                        <div class="card-body m-3">
                          <div class="row">
                            <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
                              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20%2810%29.webp"
                                class="rounded-circle img-fluid shadow-1" alt="woman avatar" width="200" height="200" />
                            </div>
                            <div class="col-lg-8">
                              <p class="text-muted fw-light mb-4">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
                                molestiae numquam quas, voluptates omnis nulla ea odio quia similique
                                corrupti magnam.
                              </p>
                              <p class="fw-bold lead mb-2"><strong>Anna Smith</strong></p>
                              <p class="fw-bold text-muted mb-0">Product manager</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </li>
            <li class="list-group-item"> <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                  <div class="card " style="border: none;">
                    <div class="card-body m-3">
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20%2810%29.webp"
                            class="rounded-circle img-fluid shadow-1" alt="woman avatar" width="200" height="200" />
                        </div>
                        <div class="col-lg-8">
                          <p class="text-muted fw-light mb-4">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
                            molestiae numquam quas, voluptates omnis nulla ea odio quia similique
                            corrupti magnam.
                          </p>
                          <p class="fw-bold lead mb-2"><strong>Anna Smith</strong></p>
                          <p class="fw-bold text-muted mb-0">Product manager</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div></li>
            <li class="list-group-item"> <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                  <div class="card " style="border: none;">
                    <div class="card-body m-3">
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20%2810%29.webp"
                            class="rounded-circle img-fluid shadow-1" alt="woman avatar" width="200" height="200" />
                        </div>
                        <div class="col-lg-8">
                          <p class="text-muted fw-light mb-4">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
                            molestiae numquam quas, voluptates omnis nulla ea odio quia similique
                            corrupti magnam.
                          </p>
                          <p class="fw-bold lead mb-2"><strong>Anna Smith</strong></p>
                          <p class="fw-bold text-muted mb-0">Product manager</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div></li>
            <li class="list-group-item"> <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                  <div class="card " style="border: none;">
                    <div class="card-body m-3">
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20%2810%29.webp"
                            class="rounded-circle img-fluid shadow-1" alt="woman avatar" width="200" height="200" />
                        </div>
                        <div class="col-lg-8">
                          <p class="text-muted fw-light mb-4">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
                            molestiae numquam quas, voluptates omnis nulla ea odio quia similique
                            corrupti magnam.
                          </p>
                          <p class="fw-bold lead mb-2"><strong>Anna Smith</strong></p>
                          <p class="fw-bold text-muted mb-0">Product manager</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div></li>
          </ul>
    </div>
    <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
        <ol class="list-group list-group-flush list-group-numbered" >
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Css</div>
                Content for list item  Content for list item Content for list item Content for list item Content for list item
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Html</div>
                Content for list item Content for list item Content for list item Content for list item
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Angular</div>
                Content for list item Content for list item Content for list item Content for list item
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Angular</div>
                  Content for list item Content for list item Content for list item Content for list item
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Angular</div>
                  Content for list item Content for list item Content for list item Content for list item
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Angular</div>
                  Content for list item Content for list item Content for list item Content for list item
                </div>
              </li>
          </ol>
    </div>
  </div>
  <!-- Tabs content -->
              </div>
      
            </div>

          
        </div>
        <div class="col-lg-3 mx-3  shadow">

            <h2 class="text-center font-weight-bold mb-5">Web Development</h2>
            <div class=" text-center"><a class="btn register scrollto" href="#inscription">Join Now</a></div>

          <hr class="mt-4">

          <div>
            <h5 class="mb-3">This Course included</h5>
            <p><i class="bx bxl-twitter"></i>Certification of completion</p>
            <p><i class="bx bxl-twitter"></i>23 moduls</p>
          </div>
          <hr class="mt-4">
          <div>
            <h5 class="mb-3">This Course included</h5>
            <p>Certification of completion</p>
            <p>23 moduls</p>
          </div>
          <hr class="mt-4">
          <h5 class="mb-3">This Course included</h5>
          <p>Certification of completion</p>
          <p>23 moduls</p>
        </div>
        <hr class="mt-4">

        </div>
      </div>

    
  </section><!-- End Cource Details Section -->
  <app-form-section></app-form-section>
  