
<main id="main" class="main">
    
    <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <section id="cource-details-tabs" class="cource-details-tabs">
        <div class="container" data-aos="fade-up">


           





            <div class="row">
              <div class="col-lg-8">
                <div class="d-lg-none d-md-block"><br><br><br></div>
                <div class="row justify-content-between">
                    <div class="col-4">
                <div class="pagetitle">
                  <h1>Projects</h1>
                  <nav>
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a routerLink="/student">Home</a></li>
                      <li class="breadcrumb-item active">Projects</li>
                    </ol>
                  </nav>
                </div>
            </div>
              
            
            </div><!-- End Page Title -->
                <div>
                  <h5 class="fw-bold">My files</h5>  
                </div>

                <div class="row my-4">
                    <div class="col-md-5"><span class="fw-bold ms-4">Name</span> </div>
                    <div class="col-md-2 fw-bold d-flex justify-content-center">Type </div>
                    <div class="col-md-3 fw-bold d-flex justify-content-center">Last Mofified</div>
                 
               </div>


                <ul class="nav nav-tabs flex-column">
                  <li class="nav-item">
                    <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                          <div class="row my-2">
                     <div class="col-md-5"><span class="mx-4"><img src="assets/img/xls.png" alt="" width="25px" height="25px"></span>Table project </div>
                     <div class="col-md-2 d-flex justify-content-center ">xls </div>
                     <div class="col-md-2 d-flex justify-content-center ">20/12/2022</div>
                     <div class="col-md-3 d-flex justify-content-center">
                        
                        <div class="filter">
                        <button class="icon" href="#" data-bs-toggle="dropdown" style="border: none; background-color: #ffffff00;"><i class="bi bi-three-dots"></i></button>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header ">
                         
                          </li>
      
                          <li><button class="dropdown-item p-2" href="#"><span><i class="bi bi-eye me-3"></i> </span> Insight</button></li>
                          <li><button class="dropdown-item p-2" href="#"><span><i class="bi bi-download me-3"></i> </span>Download</button></li>
 
                        </ul>
                        
                      </div>


                    </div>
                </div>
                
            </a>
            
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-2"><div class="row my-2">


                        <div class="col-md-5"><span class="mx-4"><img src="assets/img/doc.png" alt="" width="25px" height="25px"></span>Table project </div>
                        <div class="col-md-2 d-flex justify-content-center ">xls </div>
                        <div class="col-md-2 d-flex justify-content-center ">20/12/2022</div>
                        <div class="col-md-3 d-flex justify-content-center">
                           
                           <div class="filter">
                           <button class="icon" href="#" data-bs-toggle="dropdown" style="border: none; background-color: #ffffff00;"><i class="bi bi-three-dots"></i></button>
                           <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header ">
                           
                            </li>
        
                            <li><button class="dropdown-item p-2" href="#"><span><i class="bi bi-eye me-3"></i> </span> Insight</button></li>
                            <li><button class="dropdown-item p-2" href="#"><span><i class="bi bi-download me-3"></i> </span>Download</button></li>
   
                          </ul>
                         </div>
   
   
                       </div>
                </div></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-3"><div class="row my-2">


                             <div class="col-md-5"><span class="mx-4"><img src="assets/img/doc.png" alt="" width="25px" height="25px"></span>Table project </div>
                             <div class="col-md-2 d-flex justify-content-center ">xls </div>
                             <div class="col-md-2 d-flex justify-content-center ">20/12/2022</div>
                             <div class="col-md-3 d-flex justify-content-center">
                           
                           <div class="filter">
                           <button class="icon" href="#" data-bs-toggle="dropdown" style="border: none; background-color: #ffffff00;"><i class="bi bi-three-dots"></i></button>
                           <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header ">
                           
                            </li>
        
                            <li><button class="dropdown-item p-2" href="#"><span><i class="bi bi-eye me-3"></i> </span> Insight</button></li>
                            <li><button class="dropdown-item p-2" href="#"><span><i class="bi bi-download me-3"></i> </span>Download</button></li>
   
                          </ul>
                         </div>
   
   
                       </div>
                </div></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-4"><div class="row my-2">


                         <div class="col-md-5"><span class="mx-4"><img src="assets/img/pdf.png" alt="" width="25px" height="25px"></span>Table project </div>
                         <div class="col-md-2 d-flex justify-content-center ">xls </div>
                         <div class="col-md-2 d-flex justify-content-center ">20/12/2022</div>
                         <div class="col-md-3 d-flex justify-content-center">
                           
                           <div class="filter">
                           <button class="icon" href="#" data-bs-toggle="dropdown" style="border: none; background-color: #ffffff00;"><i class="bi bi-three-dots"></i></button>
                           <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header ">
                           
                            </li>
        
                            <li><button class="dropdown-item p-2" href="#"><span><i class="bi bi-eye me-3"></i> </span> Insight</button></li>
                            <li><button class="dropdown-item p-2" href="#"><span><i class="bi bi-download me-3"></i> </span>Download</button></li>
   
                          </ul>
                         </div>
   
   
                       </div>
                </div></a>
                  </li>
          



                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-7">  <div class="row my-2">
                     <div class="col-md-5"><span class="mx-4"><img src="assets/img/xls.png" alt="" width="25px" height="25px"></span>Table project </div>
                     <div class="col-md-2 d-flex justify-content-center ">xls </div>
                     <div class="col-md-2 d-flex justify-content-center ">20/12/2022</div>
                     <div class="col-md-3 d-flex justify-content-center">
                        
                        <div class="filter">
                        <button class="icon" href="#" data-bs-toggle="dropdown" style="border: none; background-color: #ffffff00;"><i class="bi bi-three-dots"></i></button>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header ">
                           
                            </li>
        
                            <li><button class="dropdown-item p-2" href="#"><span><i class="bi bi-eye me-3"></i> </span> Insight</button></li>
                            <li><button class="dropdown-item p-2" href="#"><span><i class="bi bi-download me-3"></i> </span>Download</button></li>
   
                          </ul>
                      </div>


                    </div>
                </div></a>
                  </li>



                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-8">  <div class="row my-2">
                     <div class="col-md-5"><span class="mx-4"><img src="assets/img/xls.png" alt="" width="25px" height="25px"></span>Table project </div>
                     <div class="col-md-2 d-flex justify-content-center ">xls </div>
                     <div class="col-md-2 d-flex justify-content-center ">20/12/2022</div>
                     <div class="col-md-3 d-flex justify-content-center">
                        
                        <div class="filter">
                        <button class="icon" href="#" data-bs-toggle="dropdown" style="border: none; background-color: #ffffff00;"><i class="bi bi-three-dots"></i></button>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header ">
                           
                            </li>
        
                            <li><button class="dropdown-item p-2" href="#"><span><i class="bi bi-eye me-3"></i> </span> Insight</button></li>
                            <li><button class="dropdown-item p-2" href="#"><span><i class="bi bi-download me-3"></i> </span>Download</button></li>
   
                          </ul>
                      </div>


                    </div>
                </div></a>
                  </li>




                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-9">  <div class="row my-2">
                     <div class="col-md-5"><span class="mx-4"><img src="assets/img/doc.png" alt="" width="25px" height="25px"></span>Table project </div>
                     <div class="col-md-2 d-flex justify-content-center ">xls </div>
                     <div class="col-md-2 d-flex justify-content-center ">20/12/2022</div>
                     <div class="col-md-3 d-flex justify-content-center">
                        
                        <div class="filter">
                        <button class="icon" href="#" data-bs-toggle="dropdown" style="border: none; background-color: #ffffff00;"><i class="bi bi-three-dots"></i></button>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header ">
                           
                            </li>
        
                            <li><button class="dropdown-item p-2" href="#"><span><i class="bi bi-eye me-3"></i> </span> Insight</button></li>
                            <li><button class="dropdown-item p-2" href="#"><span><i class="bi bi-download me-3"></i> </span>Download</button></li>
   
                          </ul>
                      </div>


                    </div>
                </div></a>
                  </li>




                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-10">  <div class="row my-2">
                     <div class="col-md-5"><span class="mx-4"><img src="assets/img/pdf.png" alt="" width="25px" height="25px"></span>Table project </div>
                     <div class="col-md-2 d-flex justify-content-center ">xls </div>
                     <div class="col-md-2 d-flex justify-content-center ">20/12/2022</div>
                     <div class="col-md-3 d-flex justify-content-center">
                        
                        <div class="filter">
                        <button class="icon" href="#" data-bs-toggle="dropdown" style="border: none; background-color: #ffffff00;"><i class="bi bi-three-dots"></i></button>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header ">
                           
                            </li>
        
                            <li><button class="dropdown-item p-2" href="#"><span><i class="bi bi-eye me-3"></i> </span> Insight</button></li>
                            <li><button class="dropdown-item p-2" href="#"><span><i class="bi bi-download me-3"></i> </span>Download</button></li>
   
                          </ul>
                      </div>


                    </div>
                </div></a>
                  </li>





                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-11">  <div class="row my-2">
                     <div class="col-md-5"><span class="mx-4"><img src="assets/img/code 1.png" alt="" width="25px" height="25px"></span>Table project </div>
                     <div class="col-md-2 d-flex justify-content-center ">xls </div>
                     <div class="col-md-2 d-flex justify-content-center ">20/12/2022</div>
                     <div class="col-md-3 d-flex justify-content-center">
                        
                        <div class="filter">
                        <button class="icon" href="#" data-bs-toggle="dropdown" style="border: none; background-color: #ffffff00;"><i class="bi bi-three-dots"></i></button>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header ">
                           
                            </li>
        
                            <li><button class="dropdown-item p-2" href="#"><span><i class="bi bi-eye me-3"></i> </span> Insight</button></li>
                            <li><button class="dropdown-item p-2" href="#"><span><i class="bi bi-download me-3"></i> </span>Download</button></li>
   
                          </ul>
                      </div>


                    </div>
                </div></a>
                  </li>






                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-12">  <div class="row my-2">
                     <div class="col-md-5"><span class="mx-4"><img src="assets/img/code 1.png" alt="" width="25px" height="25px"></span>Table project </div>
                     <div class="col-md-2 d-flex justify-content-center ">xls </div>
                     <div class="col-md-2 d-flex justify-content-center ">20/12/2022</div>
                     <div class="col-md-3 d-flex justify-content-center">
                        
                        <div class="filter">
                        <button class="icon" href="#" data-bs-toggle="dropdown" style="border: none; background-color: #ffffff00;"><i class="bi bi-three-dots"></i></button>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header ">
                           
                            </li>
        
                            <li><button class="dropdown-item p-2" href="#"><span><i class="bi bi-eye me-3"></i> </span> Insight</button></li>
                            <li><button class="dropdown-item p-2" href="#"><span><i class="bi bi-download me-3"></i> </span>Download</button></li>
   
                          </ul>
                      </div>


                    </div>
                </div></a>
                  </li>


                </ul>
                
              </div>
              
              <div class="col-lg-3 bg-white shadow mx-4  d-none d-lg-block info "  >
                <div class="tab-content ">
                  <div class="tab-pane active show" id="tab-1">
                <div class="row mt-5"><p class="fw-bold text-dark d-flex justify-content-center fs-5">File info</p></div>
                <div class="row mt-2 d-flex justify-content-center"><img src="assets/img/folder (2).png" class="img-fluid w-50" alt=""></div>
                <div class="row my-4  fw-bold d-flex justify-content-center">Table project</div>
                <div class="row my-5 text-center d-flex justify-content-center"><hr class="w-75 "></div>
                
        
              <div class="row mt-5 "><p class="fw-semibold  fs-6 ms-5">Name: Table project</p></div>
              <div class="row mt-2"><p class=" fw-semibold fs-6 ms-5">Type: Folder</p></div>
              <div class="row mt-2"><p class="fw-semibold fs-6 ms-5">Size: 207 MB</p></div>
              <div class="row mt-2"><p class=" fw-semibold fs-6 ms-5">Last Mofified: 21/04/2021</p></div>
              

              </div>
                  <div class="tab-pane" id="tab-2">
                    
                    <div class="row mt-5"><p class="fw-bold text-dark d-flex justify-content-center fs-5">File info</p></div>
                    <div class="row mt-2 d-flex justify-content-center"><img src="assets/img/doc.png" class="img-fluid w-50" alt=""></div>
                    <div class="row my-4  fw-bold d-flex justify-content-center">Table project</div>
                    <div class="row my-5 text-center d-flex justify-content-center"><hr class="w-75 "></div>
                    
            
                  <div class="row mt-5 "><p class="fw-semibold  fs-6 ms-5">Name: Table project</p></div>
                  <div class="row mt-2"><p class=" fw-semibold fs-6 ms-5">Type: Folder</p></div>
                  <div class="row mt-2"><p class="fw-semibold fs-6 ms-5">Size: 207 MB</p></div>
                  <div class="row mt-2"><p class=" fw-semibold fs-6 ms-5">Last Mofified: 21/04/2021</p></div>
                    

                  </div>
                  <div class="tab-pane" id="tab-3">
                
                    <div class="row mt-5"><p class="fw-bold text-dark d-flex justify-content-center fs-5">File info</p></div>
                    <div class="row mt-2 d-flex justify-content-center"><img src="assets/img/doc.png" class="img-fluid w-50" alt=""></div>
                    <div class="row my-4  fw-bold d-flex justify-content-center">Table project</div>
                    <div class="row my-5 text-center d-flex justify-content-center"><hr class="w-75 "></div>
                    
            
                  <div class="row mt-5 "><p class="fw-semibold  fs-6 ms-5">Name: Table project</p></div>
                  <div class="row mt-2"><p class=" fw-semibold fs-6 ms-5">Type: Folder</p></div>
                  <div class="row mt-2"><p class="fw-semibold fs-6 ms-5">Size: 207 MB</p></div>
                  <div class="row mt-2"><p class=" fw-semibold fs-6 ms-5">Last Mofified: 21/04/2021</p></div>


                  </div>
                  <div class="tab-pane" id="tab-4">
                  
                    
                    <div class="row mt-5"><p class="fw-bold text-dark d-flex justify-content-center fs-5">File info</p></div>
                    <div class="row mt-2 d-flex justify-content-center"><img src="assets/img/pdf.png" class="img-fluid w-50" alt=""></div>
                    <div class="row my-4  fw-bold d-flex justify-content-center">Table project</div>
                    <div class="row my-5 text-center d-flex justify-content-center"><hr class="w-75 "></div>
                    
            
                  <div class="row mt-5 "><p class="fw-semibold  fs-6 ms-5">Name: Table project</p></div>
                  <div class="row mt-2"><p class=" fw-semibold fs-6 ms-5">Type: Folder</p></div>
                  <div class="row mt-2"><p class="fw-semibold fs-6 ms-5">Size: 207 MB</p></div>
                  <div class="row mt-2"><p class=" fw-semibold fs-6 ms-5">Last Mofified: 21/04/2021</p></div>


                  </div>
                  <div class="tab-pane" id="tab-5">
                
                    <div class="row mt-5"><p class="fw-bold text-dark d-flex justify-content-center fs-5">File info</p></div>
                    <div class="row mt-2 d-flex justify-content-center"><img src="assets/img/code 1.png" class="img-fluid w-50" alt=""></div>
                    <div class="row my-4  fw-bold d-flex justify-content-center">Table project</div>
                    <div class="row my-5 text-center d-flex justify-content-center"><hr class="w-75 "></div>
                    
            
                  <div class="row mt-5 "><p class="fw-semibold  fs-6 ms-5">Name: Table project</p></div>
                  <div class="row mt-2"><p class=" fw-semibold fs-6 ms-5">Type: Folder</p></div>
                  <div class="row mt-2"><p class="fw-semibold fs-6 ms-5">Size: 207 MB</p></div>
                  <div class="row mt-2"><p class=" fw-semibold fs-6 ms-5">Last Mofified: 21/04/2021</p></div>


                  </div>
                </div>
              </div>
            </div>
    
          </div>


       </section>  
       
     
  </main>
