<main id="main">
    <div class="d-lg-none d-md-block"><br><br><br></div>

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>
<div class="row d-flex justify-content-center">
  <div class="container  d-flex justify-content-center">
    <div class="card shadow-sm h-100 col-md-6  ">
      <div class="card-body">
    <h1 class="text-center fw-bold mb-3 " style="color: #AF3065;" > Add Hackerspaces</h1>

    <form [formGroup]="HackerForm">
      <div class="form-group mb-3">
        <label for="exampleFormControlInput1">Region</label>
        <input formControlName="region" name="region" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Region...">
      </div>

      <div class="form-group mb-3">
        <label for="exampleFormControlInput1">Location</label>
        <input formControlName="location" name="location" type="text" class="form-control" id="exampleFormControlInput1" placeholder="location...">
      </div>
      <div class="form-group mb-3">
        <label for="exampleFormControlInput1">Adress</label>
        <input formControlName="adresse" name="adresse" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Adress...">
      </div>
      <div class="form-group mb-3">
        <label for="exampleFormControlInput1">Mail</label>
        <input formControlName="email" name="email" type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>
      <div class="form-group mb-3">
        <label for="exampleFormControlInput1">Phone</label>
        <input formControlName="phone" type="tel" name="phone" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>
      <div class="form-group mb-3">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea formControlName="description" name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
          <div class="Neon Neon-theme-dragdropbox mt-4">
            <input  (change)="onFileSelected($event)" style="z-index: 999; opacity: 0; width: 320px; height: 200px; position: absolute; right: 0px; left: 0px; margin-right: auto; margin-left: auto;" id="filer_input2" type="file">

            <div class="Neon-input-dragDrop"><div class="Neon-input-inner"><div class="Neon-input-icon"><i class="fa fa-file-image-o"></i></div><div class="Neon-input-text"><h3>Drag&amp;Drop files here</h3> <span style="display:inline-block; margin: 15px 0">or</span></div><a class="Neon-input-choose-btn blue">Browse Files</a></div></div>
            </div>
            <div class="text-end">
              <button type="button" id="submit" name="submit" class="btn btn-light" style=" border-radius: 5px;" routerLink="/admin">Cancel</button>
              <button type="button" (click)="AddHackerspaceForm()" id="submit" name="submit" class="btn" style="background-color: #AF3065; color: white; border-radius: 5px;">Update</button>
              </div>
    </form>


    </div>
</div>
</div>
</div>


  </main>
