<main id="main" class="main">
  <div class="d-lg-none d-md-block"><br><br><br></div>
  <div class="pagetitle">
    <h1>View profile</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <!-- ======= Profile Section ======= -->
  <div class="container">
    <div class="main-body">



      <div class="row gutters-sm mt-5">
        <div class="col-md-4">
          <div class="card mb-3">

            <div class="card-body text-center p-4 my-2">

              <img src="assets/img/profile-img.jpg" alt="Admin" style="border-radius: 20px;" width="200">

            </div>

          </div>
        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">

              <div class="row mb-3">

                <div class="col-sm-4">
                  <h5 class="mb-1">Full Name</h5>

                  <h6 class="text-secondary"> </h6>
                </div>
                <div class="col-sm-4">
                  <h5 class="mb-1">Email</h5>
                  <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                    data-cfemail="1c7a756c5c766977716974327d70">[email&#160;protected]</a>
                </div>
                <div class="col-sm-4">
                  <h5 class="mb-1">Date</h5>
                  <h6 class="text-secondary">2001/22/55</h6>
                </div>

              </div>


              <div class="row">

                <div class="col-sm-4">
                  <h5 class="mb-1">About</h5>
                  <h6 class="text-secondary">I'm Yuki. Full Stack Designer I enjoy creating user-centric, delightful and
                    human experiences.</h6>
                </div>
                <div class="col-sm-4">
                  <h5 class="mb-1">Phone</h5>
                  <h6 class="text-secondary">216 22 222 222</h6>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 text-end">

                  <a class="btn px-4 " style="background-color: #00A066; color: white;" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">paid</a>


                  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 style="color: #AF3065;">Chouse status</h3>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                        </div>
                        <form action="">

                          <div class="modal-body">
                            <div class="card1">

                              <div class="content">
                                <input type="radio" name="rd" id="one">
                                <input type="radio" name="rd" id="two">
                                <input type="radio" name="rd" id="three">
                                <input type="radio" name="rd" id="four">

                                <label for="one" class="box first">
                                  <div class="plan">
                                    <span class="circle"></span>
                                    <span class="yearly">Pending</span>
                                  </div>
                                </label>
                                <label for="two" class="box second">
                                  <div class="plan">
                                    <span class="circle"></span>
                                    <span class="yearly">Unpaid</span>
                                  </div>
                                </label>
                                <label for="three" class="box third">
                                  <div class="plan">
                                    <span class="circle"></span>
                                    <span class="yearly">Paid</span>
                                  </div>
                                </label>
                                <label for="four" class="box fourth">
                                  <div class="plan">
                                    <span class="circle"></span>
                                    <span class="yearly">Canceled</span>
                                  </div>
                                </label>
                              </div>
                            </div>

                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn register">Save</button>

                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>



        <div class="row gutters-sm mt-5 ">
          <div class="col-sm-3 mb-3 overflow-auto " style="max-height: 300px;">
            <div class="card">
              <div class="card-body text-center">
                <h4 class="d-flex mb-4 fw-bold">Groups</h4>
                <h5>Web Design</h5>
                <hr>
                <h5>Backend API</h5>
                <hr>
                <h5>Mobile Template</h5>
                <hr>
                <h5>One Page</h5>
                <hr>
                <h5>Backend API</h5>
                <hr>
                <h5>Mobile Template</h5>
                <hr>
                <h5>One Page</h5>

              </div>
            </div>
          </div>

          <div class="col-sm-4 mb-3 overflow-auto " style="max-height: 300px;">
            <div class="card">
              <div class="card-body ">
                <h4 class="d-flex mb-4 fw-bold">Feedback</h4>
                <div class=" mt-2 d-flex justify-content-between align-items-start">
                  <div class="ms-4 me-auto">
                    <div class="fw-bold">It was ok </div>
                    Lorum ipsum Loru
                  </div>
                  <span class="text-secondary">02/22/2023</span>
                </div>
                <hr>
                <div class=" mt-2 d-flex justify-content-between align-items-start">
                  <div class="ms-4 me-auto">
                    <div class="fw-bold">It was ok </div>
                    Lorum ipsum Loru
                  </div>
                  <span class="text-secondary">02/22/2023</span>
                </div>
                <hr>
                <div class=" mt-2 d-flex justify-content-between align-items-start">
                  <div class="ms-4 me-auto">
                    <div class="fw-bold">It was ok </div>
                    Lorum ipsum Loru
                  </div>
                  <span class="text-secondary">02/22/2023</span>
                </div>
                <hr>
                <div class=" mt-2 d-flex justify-content-between align-items-start">
                  <div class="ms-4 me-auto">
                    <div class="fw-bold">It was ok </div>
                    Lorum ipsum Loru
                  </div>
                  <span class="text-secondary">02/22/2023</span>
                </div>
                <hr>
                <div class=" mt-2 d-flex justify-content-between align-items-start">
                  <div class="ms-4 me-auto">
                    <div class="fw-bold">It was ok </div>
                    Lorum ipsum Loru
                  </div>
                  <span class="text-secondary">02/22/2023</span>
                </div>
                <hr>
              </div>
            </div>
          </div>


          <div class="col-sm-5 mb-3 overflow-auto" style="max-height: 300px;">
            <div class="card  ">
              <div class="card-body  ">
                <h4 class="d-flex mb-4 fw-bold">Notes</h4>
                <h5>Angular</h5>
                <hr>
                <h5>Backend API</h5>
                <hr>
                <h5>Spring boot</h5>
                <hr>
                <h5>Node js</h5>

                <hr>
                <h5>Backend API</h5>
                <hr>
                <h5>Spring boot</h5>
                <hr>
                <h5>Node js</h5>

              </div>
            </div>
          </div>


        </div>

        <div class="row mt-5 ">
          <div class="text-center">
            <a class="btn px-4 mx-2 " style="background-color: #de1607; color: white;" target="__blank"
              href="profile.html">Delete</a>
            <a class="btn px-4 mx-2 " style="background-color: #AF3065; color: white;" target="__blank"
              href="profile.html">New groupe</a>
            <a class="btn px-4 mx-2 " style="background-color: #AF3065; color: white;" target="__blank"
              data-bs-toggle="modal" data-bs-target="#staticBackdrop1">Add Note</a>
            <a class="btn px-4 mx-2 " style="background-color: #AF3065; color: white;" target="__blank"
              href="profile.html">Save</a>
          </div>
        </div>
        <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 style="color: #AF3065;">Add Notes</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

              </div>
              <form action="">

                <div class="modal-body">

                  <div class="row">
                    <div class="form__group field mt-3 mb-3">
                      <textarea type="input" class="form__field" placeholder="Note" name="Note" id='Note'
                        required></textarea>
                      <label for="Note" class="form__label">Note</label>
                    </div>
                  </div>



                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn register">Save</button>

                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</main><!-- End #main -->